/*          Header Page
=========================================*/

.header-row {
 margin-bottom: 0px;
 max-height: 47px;
}

.header {
 background: #046fc2;
 padding-top: 3px !important;
 padding-bottom: 3px !important;
 padding-left: 0px !important;
}

.header .side-barIcon {
 padding-left: 0px;
 padding-top: 12px;
}

.header .side-barIcon a {
 padding: 15px 15px 10px 15px;
}

.header .side-barIcon a svg {
 fill: #fff;
 fill-rule: evenodd;
}

.header .logo {
 padding-top: 6px;
 float: left;
}

.header .logo>a {
 padding: 0px;
 display: inline-block;
}

.header .logo>a>svg .cls-1 {
 fill: #fff;
 fill-rule: evenodd;
}

.header .rightMenu {
 margin-top: 4px;
 max-width: 60px;
}

.header .rightMenu ul {
 margin: 0px;
}

.header .rightMenu ul a {
 color: #fff;
 vertical-align: top;
 position: relative;
 top: 1.5px;
 padding: 5px 8px 5px 8px;
 background-color: #104d7d;
 display: block;
}

.header .rightMenu ul a svg {
 fill: #fff;
 fill-rule: evenodd;
 top: 1px;
 position: relative;
}

.header .rightMenu .action-dropdown {
 position: relative;
 top: 0px;
 display: none;
 background-color: #fff;
}

.header .rightMenu .action-dropdown ul {
 position: absolute;
 top: 0px;
 right: -2px;
 z-index: 1000;
 display: block;
 float: left;
 min-width: 90px;
 padding: 5px 0;
 margin: 2px 0 0 !important;
 font-size: 14px;
 text-align: left;
 list-style: none;
 background-color: #fff;
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 border: 1px solid #ccc;
 border: 1px solid rgba(0, 0, 0, 0.15);
 border-radius: 4px;
 -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
 box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
 padding: 0;
 border-radius: 3px;
}

.header .rightMenu .action-dropdown ul:after {
 content: '';
 border-bottom: 6px solid #fff;
 border-right: 6px solid transparent;
 border-left: 6px solid transparent;
 position: absolute;
 top: -6px;
 right: 14px;
}

.header .rightMenu .action-dropdown ul:before {
 content: '';
 border-bottom: 6px solid #c5c5c5;
 border-right: 6px solid transparent;
 border-left: 6px solid transparent;
 position: absolute;
 top: -6px;
 right: 14px;
}

.header .rightMenu .action-dropdown ul li {
 font-size: 14px;
}

.header .rightMenu .action-dropdown ul li a {
 display: block;
 padding: 7px 20px 6px 20px !important;
 clear: both;
 font-weight: 400;
 line-height: 1.42857143;
 color: #333 !important;
 white-space: nowrap;
 background-color: #fff;
 border-bottom: 1px solid #ccc;
 font-size: 15px;
}

.header .rightMenu .action-dropdown ul li a>img {
 height: 10px;
 margin-right: 6px;
}

.header .rightMenu .action-dropdown ul li:last-child a {
 border-radius: 0px 0px 3px 3px;
 border: none;
}

@media only screen and (max-width: 340px) {
 .footerCategory.FooterPart2 {
  padding: 0px;
 }
 .FooterWithCopyRight>li {
  display: inline-block;
  margin: 3px 2px;
 }
 .icon-list>li {
  margin: 0px 0px;
  margin-top: 12px!important;
 }
 .app {
  border-radius: 5px;
  padding: 3px 12px;
  border: none;
 }
 .appdiv {
  padding-bottom: 6px!important;
 }
}
